doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        link(rel="stylesheet" href="css/main.min.css")
        title Redrick

    body
        h1 Hello Word
        p Шла собака по шоссе